body {
    border-width: 20px;
}
.wiki-item {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.7);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wiki-header {
    padding-left: 10px;
}

.wiki-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.img-container {
    display: flex;
}

.wiki-img {
    display: flex;
    width: 100%;
    padding-left: inherit;

}

@media screen and (min-width: 600px) {
    .wiki-content {
        display: flex;
        flex-direction: row-reverse;
    }
    .wiki-text {
        min-width: 50%;
        max-width: 50%;
        padding-left: 20px;
    }
    .img-container {
        min-width: 50%;
        max-width: 50%;
        padding-left: 20px; 
    }
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}